@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #200224;
}

/* ant design overrides */
.ant-pagination-item a,
.ant-pagination-item-ellipsis,
.ant-pagination-jump-prev span,
.ant-pagination-jump-next span {
    color: #fff !important;
}

.ant-pagination-item-active a {
    color: #000 !important;
}

.ant-pagination-prev svg,
.ant-pagination-next svg {
  color: #fff;
}